.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,5,1) 65%, rgba(0,174,255,1) 100%);
  padding: 20px 30px;
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); 
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  border-radius: 50%;
  width: 45px; 
  height: 45px;
  margin-right: 12px; 
  transition: transform 0.3s ease; 
}

.logo img:hover {
  transform: scale(1.1); 
}

.logo h1 {
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
  font-size: 1.3rem; 
  font-weight: 700;   
  letter-spacing: 0.08em;
  margin: 0;
  text-transform: uppercase; 
  transition: color 0.3s ease;
}

.logo h1:hover {
  color:#00aeff ; 
}

.nav-links {
  display: none;
}

.menu-icon {
  color: red;
  font-size: 2rem !important;
  cursor: pointer;
}

.drawer-list {
  width: 250px;
  background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,5,1) 65%, rgba(0,174,255,1) 100%);
  height: 100%;
  color: white;
  padding-top: 20px;
}

.drawer-list .MuiListItemText-primary {
  font-family: 'Poppins', sans-serif;
  font-size: 1.1rem;
  font-weight: 500;
  color: white;
}

.drawer-list .MuiListItem-root {
  padding: 12px 20px;
  
}

.drawer-list .MuiListItem-root:hover {
  background: #00aeff
}

.drawer-list .MuiListItem-root:active {
  background: #00aeff;
}

@media (min-width: 768px) {
  .nav-links {
    display: flex;
    gap: 25px;
  }

  .menu-icon {
    display: none;
  }
}
